 
#important{
	color:#a87d32;
	width: 60%;
	background-color: white;
	text-align: center;
	margin-left:20vw;
}
body{
	background-color: white;
	text-align: center;
}
p{
	text-align: left;
}
#intro {
    height: 65vh;
    opacity: 0.8;
    background-image: url(moneyimg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
 
