 
#important{
	color:#a87d32;
	width: 60%;
	background-color: white;
	text-align: center;
	margin-left:20vw;
}
body{
	background-color: #AFE1AF;
	text-align: center;
}
p{
	text-align: center;
	font-size: 20px;
}
#intro {
    height: 65vh;
    opacity: 0.8;
    background-image: url(moneyimg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
@keyframes SlideInleft {
	from{
		transform: translateX(-300px);
	}
	to{
		transform: translateX(0);
	}
}
.card{
	font-weight: bold;
	font-size: 16px;
	margin-left: 10%;
	margin-bottom: 50px;
	background-color: aliceblue;
	width: 75vw;
	max-width: 100%;
	animation: SlideInleft 1s ease-in 1s 1 normal both;
}
 
